#
# COPYRIGHT Ericsson 2023
#
#
#
# The copyright to the computer program(s) herein is the property of
#
# Ericsson Inc. The programs may be used and/or copied only with written
#
# permission from Ericsson Inc. or in accordance with the terms and
#
# conditions stipulated in the agreement/contract under which the
#
# program(s) have been supplied.
#

model_version: 2.0
product_va_config:
    name: eric-oss-4gpmevent-filetrans-proc
    product_name: eric-oss-4gpmevent-filetrans-proc
    version: {version}
    va_template_version: 2.0.0
    description: eric-oss-4gpmevent-filetrans-proc Microservice
    images:
        - /eric-oss-4gpmevent-filetrans-proc:{version}
